*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.car-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 90px;

}

.car-container p{
  margin:0 1rem 0 1rem;
}

.back-btn{
  margin-bottom: 2rem;
  margin-top: 0.8rem;
}